<connectionStrings>
  <add name="studentDb" connectionString="Data Source=.\sqlexpress;Initial Catalog=StudentTracker;Integrated Security=True;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" /> 
  <add name="ApplicationServices" connectionString="Data Source=.\sqlexpress;Initial Catalog=StudentTracker;Integrated Security=True;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
</connectionStrings>