<connectionStrings>
  <add name="studentDb" connectionString="Data Source=.\sqlexpress;Initial Catalog=NewStudentTrack;User ID=sa;Password=asdf;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" /> 
  <add name="ApplicationServices" connectionString="Data Source=.\sqlexpress;Initial Catalog=NewStudentTrack;User ID=sa;Password=asdf;MultipleActiveResultSets=True"
  providerName="System.Data.SqlClient" />
</connectionStrings>