@model StudentTracker.Site.ViewModels.Student.StudentDownloadViewModel
@{
    ViewBag.Title = "Download Excel for Students";
}
<h2>
    Download Excel for Students</h2>
@using (Html.BeginForm()) {
    <div class="editor-field">
        @Html.EditorFor(x => x.DownloadAll)
        @Html.LabelFor(x => x.DownloadAll)
    </div>
    <div class="editor-field">
        <input type="submit" name="submit" value="Download " />
    </div>

}
